<div class='flex justify-center items-center mt-32'>
<div class="block p-6 rounded-lg bg-white w-1/3">
<h4 class='font-medium leading-tight text-2xl mt-0 mb-2 font-bold'>New Food</h4>
<%= form_with(model: food) do |form| %>

<div class="form-group mb-6">
      <label
        for="exampleInputEmail2"
        class="form-label inline-block mb-2 text-gray-700"
        >Name</label
      >
      <%= form.text_field :name, autofocus: true,  class:
      'form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
      bg-white bg-clip-padding border border-solid border-gray-300 rounded
      transition ease-in-out m-0 focus:text-gray-700 focus:bg-white
      focus:border-blue-600 focus:outline-none' %>
    </div>

<div class="form-group mb-6">
      <label
        for="exampleInputEmail2"
        class="form-label inline-block mb-2 text-gray-700"
        >Measurement unit</label
      >
      <%= form.text_field :measurement_unit, autofocus: true,  class:
      'form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
      bg-white bg-clip-padding border border-solid border-gray-300 rounded
      transition ease-in-out m-0 focus:text-gray-700 focus:bg-white
      focus:border-blue-600 focus:outline-none' %>
    </div>

  <div class="form-group mb-6">
      <label
        for="exampleInputEmail2"
        class="form-label inline-block mb-2 text-gray-700"
        >Price</label
      >
      <%= form.number_field :price, autofocus: true,  class:
      'form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700
      bg-white bg-clip-padding border border-solid border-gray-300 rounded
      transition ease-in-out m-0 focus:text-gray-700 focus:bg-white
      focus:border-blue-600 focus:outline-none' %>
    </div>  



<% if food.errors.any? %>
<div style="color: red">
  <h2>
    <%= pluralize(food.errors.count, "error") %> prohibited this food from being
    saved:
  </h2>

  <ul>
    <% food.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

    <%= form.submit "Add food", class:'w-full px-6 py-2.5 bg-gray-800 text-white
    font-medium text-xs leading-tight uppercase rounded shadow-md
    hover:bg-blue-700 hover:bg-gray-900 hover:shadow-lg focus:bg-gray-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out' %>
</div>
<% end %>

</div>
</div>
